body {
  background-color: #f9f9f9;
}
header {
  background-color: #343a40;
  padding: 15px 0;
}
.navbar-brand {
  font-size: 1.5em;
}
.navbar-nav .nav-link {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.2em;
}


.navbar-nav .nav-link.active {
  border-bottom: 2px solid #000000;
}